html {
  font-family: sans-serif;
}

.btn {
  background-color: limegreen;
  border-color: limegreen;
}

.btn-ghost {
  background-color: transparent;
}

.btn-light {
  background-color: lightgreen;
  border-color: lightgreen;
}

.btn:hover {
  background-color: darkgreen;
  border-color: darkgreen;
}

.btn-ghost:hover {
  background-color: transparent;
}
